includes:
  - vendor/nunomaduro/larastan/extension.neon

parameters:
  paths:
    - app
  level: 4
  reportUnmatchedIgnoredErrors: false
  ignoreErrors:
    - '#has no return type specified#'
    - '#has no type specified#'
    - '#property\.notFound#'
    - '#larastan\.relationExistence#'
